---
import BaseLayout from "../layouts/BaseLayout.astro";

const companyName = "Smith & Sons Plumbing";
const privacyEmail = "privacy@smithplumbing.com";
---

<BaseLayout pageTitle="Privacy Policy">
  <section
    slot="main"
    class="flex items-center flex-col max-w-5xl mx-auto px-8 py-12 text-center"
  >
    <h1 class="text-center text-4xl md:text-6xl font-bold tracking-tight">
      Website Privacy Policy
    </h1>
    <p class="pt-12">
      At {companyName}, (“we” “our”), we are committed to protecting your
      privacy and the security of your personal information when you use our
      Site (“Site”). This Privacy Policy explains what personal information we
      collect, how we use it, and how we protect it. By using this Site, you
      consent to the collection and use of your personal information as
      described below.
    </p>

    <h2 class="pt-12 pb-2 text-xl">1. Personal Information We Collect</h2>
    <p class="">
      We collect personal information when you submit the contact form. The
      personal information we collect includes your name and email address.
    </p>

    <h2 class="pt-12 pb-2 text-xl">2. How We Use Your Personal Information</h2>
    <p class="">
      We use your personal information to reach out to you to discuss a quote
      and potentially working together.
    </p>
    <p class="">
      We do not share your personal information with any third party.
    </p>

    <h2 class="pt-12 pb-2 text-xl">3. Cookies</h2>
    <p class="">We do not use cookies on our Site.</p>

    <h2 class="pt-12 pb-2 text-xl">4. Data Security</h2>
    <p class="">
      We take measures to secure your personal information and prevent
      unauthorized access, disclosure, alteration, or destruction of your
      information. However, please understand that no method of transmission
      over the internet or electronic storage is perfectly secure.
    </p>

    <h2 class="pt-12 pb-2 text-xl">5. Children's Privacy</h2>
    <p class="">
      Our Site is not intended for persons under the age of 18, and we do not
      knowingly collect personal information from minors. If you believe that we
      have inadvertently collected information from a minor, please contact us
      immediately.
    </p>

    <h2 class="pt-12 pb-2 text-xl">6. Changes to This Privacy Policy</h2>
    <p class="">
      We may update this Privacy Policy from time to time. Please check back
      periodically to view the most up-to-date version.
    </p>

    <h2 class="pt-12 pb-2 text-xl">7. Contact Us</h2>
    <p class="">
      If you have any questions or concerns about this Privacy Policy or our
      privacy practices, please contact us at
      <span class="not-italic" role="contentinfo">
        <a href={`mailto:${privacyEmail}`} class="underline">{privacyEmail}</a>.
      </span>
    </p>
  </section>
</BaseLayout>
