---
const { companyName } = Astro.props;
---

<footer
  class="bg-primary border-b border-slate-900 text-text-secondary text-center
          text-md p-8 flex flex-col justify-center"
>
  <p>&copy; <span id="year"></span> {companyName}. All Rights Reserved.</p>
  <ul class="pt-6">
    <li>
      <a
        href="/privacy-policy"
        class="hover:text-text-secondary-hover focus:outline-none focus:ring-1
             focus:ring-slate-400 focus:ring-offset- focus:ring-offset-white
               focus:underline transition-all"
        >Privacy Policy</a
      >
    </li>
  </ul>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const yearSpan = document.getElementById("year");
    if (yearSpan) {
      yearSpan.textContent = new Date().getFullYear();
    }
  });
</script>
