---
const { companyName } = Astro.props;
---

<footer
  class="bg-brand text-brand-fg text-md flex flex-col items-center justify-center border-t border-slate-900 p-8 text-center"
>
  <p>&copy; <span id="year"></span> {companyName}. All Rights Reserved.</p>
  <ul class="item-center flex justify-center gap-8 pt-6">
    <li>
      <a
        href="/privacy-policy"
        class="hover:text-brand-fg-muted transition-all focus:underline focus:ring-1 focus:ring-slate-400 focus:ring-offset-white focus:outline-none"
        >Privacy Policy</a
      >
    </li>
    <li>
      <a
        href="/terms-of-use"
        class="hover:text-brand-fg-muted transition-all focus:underline focus:ring-1 focus:ring-slate-400 focus:ring-offset-white focus:outline-none"
        >Terms of Use</a
      >
    </li>
  </ul>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const yearSpan = document.getElementById("year");
    if (yearSpan) {
      yearSpan.textContent = new Date().getFullYear();
    }
  });
</script>
