---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smith and Sons Plumbing</title>
    <meta name="description" content="Plumbers you can trust" />
    <meta name="theme-color" content="#1d4ed8" />
  </head>

  <body class="min-h-full bg-white text-zinc-900 antialiased">
    <div class="flex min-h-screen flex-col">
      <slot name="header" />
    </div>
  </body>
</html>
